<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
</head>

<body>
    <div>
        <h1>Create User</h1>

        <div>
            <% if(successMessage){ %>
                <%= successMessage %>
                    <% }%>
        </div>

        <div>
            <% if(role==='admin' ) { %>
                <form action="/createuser" method="POST">
                    <div>
                        <label for="username"> Username:
                            <input type="text" id="username" name="username" />
                        </label>
                    </div>
                    <div>
                        <label for="password"> Password:
                            <input type="text" id="password" name="password" />
                        </label>
                    </div>
                    <div>
                        <label for="role"> Role:
                            <input type="text" id="role" name="role" />
                        </label>
                    </div>
                    <div>
                        <input type="submit" value="Create User" />
                    </div>
                </form>
                <% } %>

        </div>
    </div>
</body>

</html>